@using Microsoft.AspNetCore.Mvc.Localization
@using NasladdinPlace.UI.Helpers
@using NasladdinPlace.UI.ViewModels.Base
@using NasladdinPlace.UI.ViewModels.Users
@model UniReferenceViewModel<BaseViewModel>

@inject IViewLocalizer Localizer

@{
    var saveButton = Localizer["Save"].Value;
    var cancel = Localizer["Cancel"].Value;
    var formRenderer = new FormRendererHelper<CreateUserViewModel>();
}
<div class="modal" id="add-user-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4>@Localizer["Adding user"].Value</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <h4>@Localizer["User adding instructions"].Value</h4>
                    <ul>
                        <li>@Html.Raw(Localizer["Password generator link"].Value)</li>
                        <li>@Html.Raw(Localizer["Password generate instructions"].Value)</li>
                        <li>@Html.Raw(Localizer["What to do with password and remember"].Value)</li>
                        <li>@Html.Raw(Localizer["Sending instruction"].Value)</li>
                    </ul>
                    <hr />
                    <p>@Html.Raw(Localizer["Send example"].Value)</p>
                </div>
                <div class="form-group row">
                    <label class="col-lg-12">@Localizer["Email"].Value</label>
                    <div class="col-lg-12">@await Html.RenderControlAsync(formRenderer.Get(f => f.Email))</div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-12">@Localizer["Password"].Value</label>
                    <div class="col-lg-12">@await Html.RenderControlAsync(formRenderer.Get(f => f.Password))</div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-12">@Localizer["PasswordConfirm"].Value</label>
                    <div class="col-lg-12">@await Html.RenderControlAsync(formRenderer.Get(f => f.PasswordConfirm))</div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-12">@Localizer["Role"].Value</label>
                    <div class="col-lg-12">
                        <select name="SelectedRoles" class="form-control" data-bind="
                                    options: Roles,
                                    optionsText : 'text',
                                    optionsValue : 'value',
                                    value: SelectedRoles"></select>
                    </div>
                </div>
                <div class="form-group col-lg-12 row">
                    <label>@Localizer["Able to access"].Value</label>
                    <div class="pull-right">
                        <input type="checkbox" name="IsActive" data-bind="checked: IsActive" value="IsActive" />
                        <span>@Localizer["Allow"].Value</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">@cancel</button>
                <button type="button" class="btn btn-primary" id="submit" data-bind="click: addUserInfo">@saveButton</button>
            </div>
        </div>
    </div>
</div>
